<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна сторінка</title>
    <link rel="stylesheet" href="static/styles/styles.css">
</head>
<body>
 <H1>Вітаємо на сайті діскорд сервера</H1>
    <div class="container">
        <div class="buttons">
            <a href="/admin" class="btn">Адміни</a>
            <a href="/users" class="btn">Гравці</a>
            <a href="/moments" class="btn">Моменти</a>
            <a href="/gallery" class="btn">Галерея</a>
        </div>
    </div>
</body>
</html>
